/* body {
    font-size: 25px;
    background: #eee;
};
#searches {
    width: 70%;
};
#search-input {
    float: left;
    padding: 10px;
};
form {
    width: 30%;
    float: right;
    padding: 20px;
};
label {
    display: block;
}; */


form{
    float: right;
    font-size: 30px;
};
#search-input{
    font-size: 30px;
    background: black;
};
/* button.searchButton{
    background-color: Red;

}; */