body {
    font-size: 25px;
    background: #eee;
};
#searches {
    width: 70%;
};
#search-form {
    float: left;
    padding: 10px;
};
form {
    width: 30%;
    float: right;
    padding: 20px;
};
label {
    display: block;
};
/* .clearfix{
    overflow: auto;
}; */